<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 引用dubbo服务 -->
    <dubbo:application name="${dubbo.application.name}"/>
    <dubbo:registry protocol="${dubbo.registry.protocol}" address="${dubbo.registry.address}"/>
    <dubbo:consumer check="false"  timeout="${dubbo.consumer.timeout}" />

    <dubbo:annotation package="com.c4" />

    <!-- 从注册中心中查找服务 -->
    <!--<dubbo:reference id="itemCatService" interface="cn.itcast.service.ItemCatService"/>
    <dubbo:reference id="redisService" interface="cn.itcast.service.RedisService"/>-->
</beans>
