<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!-- 使用dubbo发布服务 -->
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="${dubbo.application.name}" />
    <dubbo:registry protocol="${dubbo.registry.protocol}" address="${dubbo.registry.address}" />
    <!-- 用dubbo协议在20880端口暴露服务 -->
    <dubbo:protocol name="${dubbo.protocol.name}" port="${dubbo.protocol.port}" />
    <dubbo:annotation package="com.c4.serviceImpl" />
    <!-- 声明需要暴露的服务接口 -->
    <!--<bean id="userService" class="com.c4.serviceImpl.UserServiceImpl" />
    <dubbo:service interface="com.c4.service.UserService" ref="userService" />-->

</beans>
